Repository Zielak/cardsGame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,html,scss,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix"
}

chore(release): publish v0.21.1 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

docs: be more precise on Selection being "virtual"
  packages/server/src/entities/selection.ts
Due: prettier --write, eslint --fix

fix: empty() cares about entities now
  packages/server/src/conditions/assertions.ts
  packages/server/test/conditions/assertions.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.21.2 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix(server): selection not acting up on client
  packages/server/src/entities/pile.ts
  packages/server/src/entities/selection.ts
  packages/server/test/entities/selection.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.21.3 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix(client): sendInteraction, use only whats needed
  examples/client-svelte/src/entities/Deck.svelte
  examples/client-svelte/src/tsconfig.json
  examples/client-vanilla/main.mjs
  package-lock.json
  packages/client/src/room.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.21.4 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
Due: prettier --write

feat: allow drag and drop
  examples/client-svelte/src/entities/Deck.svelte
  examples/client-vanilla/main.mjs
  packages/client/src/room.ts
  packages/server/src/actionTemplate.ts
  packages/server/src/bots/pickNeuron.ts
  packages/server/src/commandsManager.ts
  packages/server/src/interaction/conditions.ts
  packages/server/src/interaction/filterActionsByInteraction.ts
  packages/server/src/messages/fallback.ts
  packages/server/src/player/serverPlayerMessage.ts
  packages/server/src/utils/debugRoomMessage.ts
  packages/server/src/utils/populatePlayerEvent.ts
  packages/server/test/bots/mockSetup.ts
  packages/serverTesting/src/makeInteraction.ts
  packages/serverTesting/test/helpers.ts
  packages/types/index.d.ts
  packages/utils/src/numbers.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.22.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(server): handle optional interactionType
  packages/server/src/interaction/filterActionsByInteraction.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.22.1 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

chore: escape quotes?
  scripts/mapToCjs.sh
Due: none

chore: dependencies etc
  .circleci/config.yml
  .editorconfig
  .eslintrc.cjs
  .husky/pre-commit
  config/.lintstagedrc.cjs
  package-lock.json
  packages/client/package.json
  packages/entityTraits/package.json
  packages/server/package.json
  packages/server/src/interaction/filterActionsByInteraction.ts
  packages/serverTesting/package.json
  packages/utils/package.json
  scripts/mapToCjs.sh
Due: prettier --write, eslint --fix

chore: update examples
  examples/client-svelte/package.json
  examples/client-vanilla/package.json
  examples/server-js/app.js
  examples/server-js/game/actions.js
  examples/server-js/game/room.js
  examples/server-js/game/state.js
  examples/server-js/package.json
  examples/server-ts/package.json
  examples/server-ts/src/app.ts
  examples/server-ts/src/game/actions.ts
  examples/server-ts/src/game/bot.ts
  examples/server-ts/src/game/room.ts
  examples/server-ts/src/game/state.ts
  examples/server-ts/src/tsconfig.json
  package-lock.json
  package.json
  packages/client/src/__tests__/game.test.ts
  packages/server/src/bots/__test__/mockSetup.ts
  packages/server/src/commands/index.ts
  packages/server/src/index.ts
  packages/server/src/player/bot.ts
Due: prettier --write, eslint --fix

chore: os specific sed
  scripts/mapToCjs.sh
Due: none

docs: upgrade and build fix
  .vscode/settings.json
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  packages/client/tsconfig.build.json
  packages/server/src/annotations/canBeChild.ts
  packages/server/src/annotations/containsChildren.ts
  packages/server/src/traits/child.ts
  packages/server/src/traits/entity.ts
  packages/server/src/traits/ownership.ts
  packages/server/src/traits/parent.ts
  packages/server/src/traits/selectableChildren.ts
  packages/utils/src/logs.ts
  packages/utils/src/numbers.ts
Due: prettier --write, eslint --fix

ci: sonarcloud exclude tests plz
  .circleci/config.yml
  docs/docusaurus.config.js
  packages/server/src/traits/parent.ts
  sonar-project.properties
Due: prettier --write, eslint --fix

chore(release): publish v1.1.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/baseConfigs/CHANGELOG.md
  packages/baseConfigs/package.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(server-testing): dev dependencies
  packages/serverTesting/package.json
Due: prettier --write

chore(release): publish v1.1.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: top and bottom on Line subject
  packages/server/src/conditions/__test__/subjects.test.ts
  packages/server/src/conditions/subjects.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.1.2 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: allow direct references to event in conditions
  packages/server/src/actions/baseTemplate.ts
  packages/server/src/bots/botNeuron.ts
  packages/server/src/bots/conditions.ts
  packages/server/src/bots/pickNeuron.ts
  packages/server/src/interaction/runConditionsOnAction.ts
Due: prettier --write, eslint --fix

fix: cards ranks and suits in arrays
  packages/server/src/entities/__test__/utils/__snapshots__/cards.test.ts.snap
  packages/server/src/entities/__test__/utils/cards.test.ts
  packages/server/src/entities/utils/cards.ts
Due: prettier --write, eslint --fix

docs: conditions
  docs/docs/getting-started/example/server.md
  docs/docs/getting-started/server-side/conditions.md
  packages/server/src/conditions/subjects.ts
  packages/server/src/interaction/conditions.ts
Due: prettier --write, eslint --fix

feat: defineRoom for simplicity, and documented
  docs/docs/getting-started/server-side/action-templates.md
  docs/docs/getting-started/server-side/room.md
  examples/server-ts/src/game/room.ts
  packages/server/src/__helpers__/room.ts
  packages/server/src/__mocks__/room.ts
  packages/server/src/__test__/commandsManager.test.ts
  packages/server/src/bots/__test__/runner.test.ts
  packages/server/src/bots/botNeuron.ts
  packages/server/src/bots/runner.ts
  packages/server/src/command.ts
  packages/server/src/commands/__test__/broadcast.test.ts
  packages/server/src/commands/__test__/dealCards.test.ts
  packages/server/src/commands/__test__/nextRound.test.ts
  packages/server/src/commands/__test__/playerTurns.test.ts
  packages/server/src/commands/__test__/selectChild.test.ts
  packages/server/src/commands/__test__/twoSided.test.ts
  packages/server/src/commands/__test__/ui.test.ts
  packages/server/src/commands/broadcast.ts
  packages/server/src/commands/dealCards.ts
  packages/server/src/commands/drawOutUntil.ts
  packages/server/src/commands/gameOver.ts
  packages/server/src/commands/nextRound.ts
  packages/server/src/commands/playerTurns.ts
  packages/server/src/commands/selectChild.ts
  packages/server/src/commands/sequence.ts
  packages/server/src/commands/twoSided.ts
  packages/server/src/commands/ui.ts
  packages/server/src/commandsManager.ts
  packages/server/src/index.ts
  packages/server/src/integration.ts
  packages/server/src/messages/bots.ts
  packages/server/src/messages/entityInteraction.ts
  packages/server/src/messages/fallback.ts
  packages/server/src/messages/start.ts
  packages/server/src/room/__test__/room.test.ts
  packages/server/src/room/base.ts
  packages/server/src/room/defineRoom.ts
  packages/server/src/room/index.ts
  packages/server/src/room/roomType.ts
  packages/serverTesting/src/setup.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.2.0 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

feat: command to undo last action
  packages/server/src/__helpers__/room.ts
  packages/server/src/__test__/commandsManager.test.ts
  packages/server/src/bots/__test__/runner.test.ts
  packages/server/src/command.ts
  packages/server/src/commands/__test__/broadcast.test.ts
  packages/server/src/commands/__test__/dealCards.test.ts
  packages/server/src/commands/__test__/nextRound.test.ts
  packages/server/src/commands/__test__/playerTurns.test.ts
  packages/server/src/commands/__test__/selectChild.test.ts
  packages/server/src/commands/__test__/twoSided.test.ts
  packages/server/src/commands/__test__/ui.test.ts
  packages/server/src/commands/__test__/undo.test.ts
  packages/server/src/commands/dealCards.ts
  packages/server/src/commands/drawOutUntil.ts
  packages/server/src/commands/gameOver.ts
  packages/server/src/commands/index.ts
  packages/server/src/commands/shuffleChildren.ts
  packages/server/src/commands/undo.ts
  packages/server/src/commandsManager.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.3.0 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: enable empty dragend interaction as canceling
  .vscode/settings.json
  packages/server/src/interaction/__test__/filterActionsByInteraction.test.ts
  packages/server/src/interaction/filterActionsByInteraction.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.3.1 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: grouping actions not restoring defaultSubject
  packages/server/src/conditions/__test__/grouping.test.ts
  packages/server/src/conditions/grouping.ts
Due: prettier --write, eslint --fix
