Repository Zielak/cardsGame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: cleanup categories
  packages/server/src/actions/base.ts
  packages/server/src/actions/collection.ts
  packages/server/src/actions/compoundAction.ts
  packages/server/src/actions/dragAction.ts
  packages/server/src/actions/entityAction.ts
  packages/server/src/actions/messageAction.ts
  packages/server/src/actions/types.ts
  packages/server/src/entities/utils/sorting.ts
  packages/server/src/player/bot.ts
  packages/server/src/player/names.ts
  packages/server/src/room/defineRoom.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.4.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/baseConfigs/CHANGELOG.md
  packages/baseConfigs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(serverTesting): compound action
  packages/serverTesting/src/__test__/makeInteraction.test.ts
  packages/serverTesting/src/makeInteraction.ts
  packages/serverTesting/src/testEvent.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.4.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

feat: drag tap fallback
  .vscode/settings.json
  examples/server-ts/src/game/commands.ts
  examples/server-ts/src/game/room.ts
  examples/types/index.d.ts
  packages/server/src/__test__/commandsManager.test.ts
  packages/server/src/__test__/tapDragging.test.ts
  packages/server/src/actions/__test__/entityAction.test.ts
  packages/server/src/actions/collection.ts
  packages/server/src/actions/compoundAction.ts
  packages/server/src/actions/drag/dragAction.ts
  packages/server/src/actions/drag/end.ts
  packages/server/src/actions/drag/start.ts
  packages/server/src/actions/entityAction.ts
  packages/server/src/actions/index.ts
  packages/server/src/actions/rootAction.ts
  packages/server/src/actions/shared/__test__/prerequisites.test.ts
  packages/server/src/actions/shared/prerequisites.ts
  packages/server/src/actions/shared/types.ts
  packages/server/src/actions/types.ts
  packages/server/src/bots/pickNeuron/getPossibleEvents.ts
  packages/server/src/commands/__test__/broadcast.test.ts
  packages/server/src/commands/broadcast.ts
  packages/server/src/commands/message.ts
  packages/server/src/commandsManager.ts
  packages/server/src/interaction/conditions.ts
  packages/server/src/messages/__test__/entityInteraction.test.ts
  packages/server/src/messages/entityInteraction.ts
  packages/server/src/player/player.ts
  packages/server/src/player/serverPlayerMessage.ts
  packages/server/src/room/base.ts
  packages/server/src/utils/__test__/populatePlayerEvets.test.ts
  packages/server/src/utils/populatePlayerEvent.ts
  packages/types/index.d.ts
  packages/utils/src/logs.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.5.0 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

test: for drag actions and some cleanup
  examples/client-svelte/src/gameHandler.ts
  packages/server/src/actions/drag/__test__/dragAction.test.ts
  packages/server/src/actions/drag/dragAction.ts
  packages/server/src/actions/entityAction.ts
  packages/server/src/actions/shared/prerequisites.ts
  packages/server/src/actions/shared/types.ts
  packages/server/src/bots/pickNeuron/getInteractionEntities.ts
  packages/server/src/interaction/conditions.ts
  packages/server/src/player/__mocks__/player.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.5.1 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: better handling for pending actions
  packages/server/src/__test__/commandsManager.test.ts
  packages/server/src/__test__/commandsManagerDrag.test.ts
  packages/server/src/actions/base.ts
  packages/server/src/actions/collection.ts
  packages/server/src/actions/compound/__test__/compoundAction.test.ts
  packages/server/src/actions/compound/__test__/compoundActionDefinition.test.ts
  packages/server/src/actions/compound/compoundAction.ts
  packages/server/src/actions/compound/types.ts
  packages/server/src/actions/drag/__test__/dragAction.test.ts
  packages/server/src/actions/drag/dragAction.ts
  packages/server/src/actions/drag/start.ts
  packages/server/src/actions/index.ts
  packages/server/src/actions/rootAction.ts
  packages/server/src/actions/types.ts
  packages/server/src/commands/__mocks__/message.ts
  packages/server/src/commandsManager.ts
  packages/server/src/commandsManager/utils.ts
  packages/server/src/entities/deck.ts
  packages/server/src/entities/pile.ts
  packages/server/src/index.ts
  packages/server/src/traits/__test__/parentArray.test.ts
  packages/server/src/traits/__test__/parentMap.test.ts
  packages/server/src/traits/parent.ts
  packages/serverTesting/src/testEvent.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.5.2 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: abort drag on failed condition
  packages/server/src/__test__/commandsManagerDrag.test.ts
  packages/server/src/actions/drag/dragAction.ts
Due: prettier --write, eslint --fix

feat: multiple drag end definition on action
  packages/server/src/__test__/commandsManagerDrag.test.ts
  packages/server/src/actions/drag/__test__/dragAction.test.ts
  packages/server/src/actions/drag/context.ts
  packages/server/src/actions/drag/dragAction.ts
  packages/server/src/conditions/assertions.ts
Due: prettier --write, eslint --fix

feat: function testing in query runner
  .vscode/settings.json
  packages/server/src/__test__/queryRunner.test.ts
  packages/server/src/queries/__test__/queryRunner.test.ts
  packages/server/src/queries/internalTypes.ts
  packages/server/src/queries/runner.ts
  packages/server/src/queries/types.ts
Due: prettier --write, eslint --fix

fix: commands call optional botRunner
  packages/server/src/commands/__test__/nextRound.test.ts
  packages/server/src/commands/nextRound.ts
  packages/server/src/commands/playerTurns.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.6.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  package-lock.json
  packages/baseConfigs/CHANGELOG.md
  packages/baseConfigs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat: player now has hasEntityInMainFocus prop
  packages/entityTraits/src/boxModel.ts
  packages/entityTraits/src/child.ts
  packages/server/src/annotations/containsChildren.ts
  packages/server/src/annotations/type.ts
  packages/server/src/player/player.ts
  packages/server/src/traits/__test__/ownership.test.ts
  packages/server/src/traits/__test__/parent.test.ts
  packages/server/src/traits/entity.ts
  packages/server/src/traits/entity/types.ts
  packages/server/src/traits/ownership.ts
  packages/types/src/index.d.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.7.0 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  package-lock.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: backward compatibility
  packages/baseConfigs/package.json
  packages/client/package.json
  packages/entityTraits/package.json
  packages/server/package.json
  packages/serverTesting/package.json
  packages/types/package.json
  packages/utils/package.json
Due: prettier --write

chore(release): publish v1.7.1 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  package-lock.json
  packages/baseConfigs/CHANGELOG.md
  packages/baseConfigs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: include sourcesContents in map files
  packages/baseConfigs/tsconfig.json
Due: prettier --write

fix: include sourcesContents in map files (#89)
  packages/baseConfigs/tsconfig.json
Due: prettier --write

chore(release): publish v1.7.2 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  lerna.json
  package-lock.json
  packages/baseConfigs/CHANGELOG.md
  packages/baseConfigs/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: copy default variant into game state
  packages/server/src/room/base.ts
  packages/server/src/state/state.ts
Due: prettier --write, eslint --fix

chore(release): publish v1.7.3 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package.json
  lerna.json
  package-lock.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

feat(server-testing): support variants in tests
  packages/server/src/state/state.ts
  packages/serverTesting/src/__test__/executeEvent.test.ts
  packages/serverTesting/src/__test__/helpers.ts
  packages/serverTesting/src/__test__/initState.test.ts
  packages/serverTesting/src/__test__/makeInteraction.test.ts
  packages/serverTesting/src/__test__/populateState.test.ts
  packages/serverTesting/src/__test__/reset.test.ts
  packages/serverTesting/src/__test__/setup.test.ts
  packages/serverTesting/src/index.ts
  packages/serverTesting/src/initState.ts
  packages/serverTesting/src/populateState.ts
  packages/serverTesting/src/reset.ts
  packages/serverTesting/src/setup.ts
  packages/serverTesting/src/state/copyPrimitives.ts
  packages/serverTesting/src/state/parseChildren.ts
  packages/serverTesting/src/types.ts
Due: prettier --write, eslint --fix

ci: upgrade sonarcloud
  .circleci/config.yml
Due: none

fix. server testing qol (#93)
  .circleci/config.yml
  packages/server/src/state/state.ts
  packages/serverTesting/src/__test__/executeEvent.test.ts
  packages/serverTesting/src/__test__/helpers.ts
  packages/serverTesting/src/__test__/initState.test.ts
  packages/serverTesting/src/__test__/makeInteraction.test.ts
  packages/serverTesting/src/__test__/populateState.test.ts
  packages/serverTesting/src/__test__/reset.test.ts
  packages/serverTesting/src/__test__/setup.test.ts
  packages/serverTesting/src/index.ts
  packages/serverTesting/src/initState.ts
  packages/serverTesting/src/populateState.ts
  packages/serverTesting/src/reset.ts
  packages/serverTesting/src/setup.ts
  packages/serverTesting/src/state/copyPrimitives.ts
  packages/serverTesting/src/state/parseChildren.ts
  packages/serverTesting/src/types.ts
Due: prettier --write, eslint --fix

Revert "fix. server testing qol (#93)"
  .circleci/config.yml
  packages/server/src/state/state.ts
  packages/serverTesting/src/__test__/executeEvent.test.ts
  packages/serverTesting/src/__test__/helpers.ts
  packages/serverTesting/src/__test__/initState.test.ts
  packages/serverTesting/src/__test__/makeInteraction.test.ts
  packages/serverTesting/src/__test__/populateState.test.ts
  packages/serverTesting/src/__test__/reset.test.ts
  packages/serverTesting/src/__test__/setup.test.ts
  packages/serverTesting/src/index.ts
  packages/serverTesting/src/initState.ts
  packages/serverTesting/src/populateState.ts
  packages/serverTesting/src/reset.ts
  packages/serverTesting/src/setup.ts
  packages/serverTesting/src/state/copyPrimitives.ts
  packages/serverTesting/src/state/parseChildren.ts
  packages/serverTesting/src/types.ts
Due: prettier --write, eslint --fix

fix: server testing qol (#93)
  .circleci/config.yml
  packages/server/src/state/state.ts
  packages/serverTesting/src/__test__/executeEvent.test.ts
  packages/serverTesting/src/__test__/helpers.ts
  packages/serverTesting/src/__test__/initState.test.ts
  packages/serverTesting/src/__test__/makeInteraction.test.ts
  packages/serverTesting/src/__test__/populateState.test.ts
  packages/serverTesting/src/__test__/reset.test.ts
  packages/serverTesting/src/__test__/setup.test.ts
  packages/serverTesting/src/index.ts
  packages/serverTesting/src/initState.ts
  packages/serverTesting/src/populateState.ts
  packages/serverTesting/src/reset.ts
  packages/serverTesting/src/setup.ts
  packages/serverTesting/src/state/copyPrimitives.ts
  packages/serverTesting/src/state/parseChildren.ts
  packages/serverTesting/src/types.ts
Due: prettier --write, eslint --fix

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

chore: bootstrap releases for path: . (#94)
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

chore: turborepo and release-please
  .circleci/config.yml
  .github/workflows/docs-deploy.yml
  .gitignore
  .vscode/settings.json
  devDocs/readme.md
  examples/client-vanilla/index.html
  examples/client-vanilla/rollup.config.js
  package-lock.json
  package.json
  packages/baseConfigs/package.json
  packages/client/.gitignore
  packages/server/.gitignore
  packages/types/.gitignore
  packages/utils/.gitignore
  scripts/build.sh
  turbo.json
Due: prettier --write, eslint --fix

chore: more cleanups
  .czrc
  lerna.json
  package-lock.json
  package.json
  readme.md
Due: prettier --write

ci: separate workflows
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,scss,md}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
