Repository Zielak/cardsGame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: add semantic PR title checker
  .github/semantic.yml
Due: none

chore: Remove lerna (#95)
  .circleci/config.yml
  .czrc
  .github/workflows/docs-deploy.yml
  .gitignore
  .vscode/settings.json
  devDocs/readme.md
  examples/client-vanilla/index.html
  examples/client-vanilla/rollup.config.js
  lerna.json
  package-lock.json
  package.json
  packages/baseConfigs/package.json
  packages/client/.gitignore
  packages/server/.gitignore
  packages/types/.gitignore
  packages/utils/.gitignore
  readme.md
  scripts/build.sh
  turbo.json
Due: prettier --write, eslint --fix

ci: fix release please
  .circleci/config.yml
Due: none

ci: see if release-please updates version in lerna
  .circleci/config.yml
  .vscode/settings.json
  lerna.json
  package-lock.json
  package.json
  release-please-config.json
Due: prettier --write

chore: release development
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: setup init point, update lerna.json manually
  .circleci/config.yml
  lerna.json
  release-please-config.json
Due: prettier --write

chore(development): release cardsgame 1.7.4
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: commit lerna version and ignore release-please branches
  .circleci/config.yml
Due: none

ci: release test
  .circleci/config.yml
Due: none

ci: one job for release-please
  .circleci/config.yml
  release-please-config.json
Due: prettier --write

chore: meaningless change
  devDocs/readme.md
Due: prettier --write

chore(main): release cardsgame 1.7.4 [skip ci]
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(main): release cardsgame 1.7.4
  .circleci/config.yml
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  release-please-config.json
Due: prettier --write

refactor: cleanups
  packages/baseConfigs/tsconfig.json
  packages/client/src/game.ts
  packages/server/src/actions/drag/dragAction.ts
  packages/server/src/annotations/containsChildren.ts
Due: prettier --write, eslint --fix

fix: testing fix release
  packages/server/src/index.ts
Due: prettier --write, eslint --fix

fix: second commit
  packages/server/src/index.ts
Due: prettier --write, eslint --fix

Test release (#99)
  packages/server/src/index.ts
Due: prettier --write, eslint --fix

chore(main): release cardsgame 1.8.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(utils): clashing server and browser logging utils
  .eslintrc.cjs
  package-lock.json
  packages/server/package.json
  packages/server/src/actions/drag/utils.ts
  packages/server/src/bots/pickNeuron/getInteractionEntities.ts
  packages/server/src/bots/pickNeuron/pickNeuron.ts
  packages/server/src/bots/utils.ts
  packages/server/src/commands/changeParent.ts
  packages/server/src/commands/placeOnGrid.ts
  packages/server/src/commandsManager.ts
  packages/server/src/conditions/grouping.ts
  packages/server/src/interaction/runConditionOnAction.ts
  packages/server/src/utils/debugRoomMessage.ts
  packages/utils/src/__test__/logs.test.ts
  packages/utils/src/index.ts
  packages/utils/src/logger/baseLogger.ts
  packages/utils/src/logger/browser/global.ts
  packages/utils/src/logger/browser/logger.ts
  packages/utils/src/logger/globalLogger.ts
  packages/utils/src/logger/isBrowser.ts
  packages/utils/src/logger/logLevel.ts
  packages/utils/src/logger/server/global.ts
  packages/utils/src/logger/server/logger.ts
  packages/utils/src/logger/server/utils.ts
  packages/utils/src/logger/types.ts
  packages/utils/src/logger/utils.ts
  packages/utils/src/logs.ts
Due: prettier --write, eslint --fix

ci: release-please tweaks
  .circleci/config.yml
  release-please-config.json
Due: prettier --write

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

ci: release-please tweaks
  release-please-config.json
Due: prettier --write

chore(main): release 1.7.5
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(main): release 1.7.5 (#101)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(main): release 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(main): release 2.0.0 (#103)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: variants setup on game start
  package-lock.json
  packages/client/src/room.ts
  packages/server/package.json
  packages/server/src/messages/start.ts
  packages/server/src/room/base.ts
  packages/server/src/room/gameVariants.ts
  packages/server/src/room/index.ts
  packages/server/src/room/roomType.ts
  packages/server/src/state/state.ts
  packages/types/src/messages.d.ts
  packages/types/src/utils.d.ts
  packages/utils/src/__test__/objects.test.ts
  packages/utils/src/objects.ts
Due: prettier --write, eslint --fix

feat: variants progress
  packages/server/src/messages/start.ts
  packages/server/src/room/base.ts
  packages/server/src/room/index.ts
  packages/server/src/room/roomType.ts
  packages/server/src/state/state.ts
  packages/server/src/utils/__test__/variantParset.test.ts
  packages/server/src/utils/variantParser.ts
  packages/types/src/index.d.ts
  packages/types/src/variants.d.ts
Due: prettier --write, eslint --fix

chore(main): release 2.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(main): release 2.1.0 (#105)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: variant defaults into the state on init
  packages/server/src/messages/start.ts
  packages/server/src/room/__test__/variantRoom.test.ts
  packages/server/src/room/base.ts
  packages/server/src/state/state.ts
Due: prettier --write, eslint --fix

fix: variant defaults into the state on init (#106)
  packages/server/src/messages/start.ts
  packages/server/src/room/__test__/variantRoom.test.ts
  packages/server/src/room/base.ts
  packages/server/src/state/state.ts
Due: prettier --write, eslint --fix

chore(main): release 2.1.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(main): release 2.1.1 (#107)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: removing one debug note
  packages/server/src/annotations/annotations.ts
Due: prettier --write, eslint --fix

feat: added kick message, fixed maxClients
  docs/docs/getting-started/server-side/room.md
  examples/server-js/game/room.js
  examples/server-ts/src/game/room.ts
  packages/server/src/bots/pickNeuron/getPossibleEvents.ts
  packages/server/src/messages/bots.ts
  packages/server/src/messages/kick.ts
  packages/server/src/messages/messageHandler.ts
  packages/server/src/messages/start.ts
  packages/server/src/room/__test__/room.test.ts
  packages/server/src/room/base.ts
  packages/server/src/room/defineRoom.ts
  packages/server/src/room/roomType.ts
  packages/server/src/state/state.ts
  packages/types/src/index.d.ts
  packages/types/src/messages.d.ts
  packages/types/src/room.d.ts
Due: prettier --write, eslint --fix

test: fix tests
  packages/server/src/room/__test__/room.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,scss,md}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
