Repository Zielak/cardsGame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: fix redundancy
  .circleci/config.yml
  package.json
Due: prettier --write

ci: bump-version, sync development branch
  .circleci/config.yml
Due: none

ci: auto publish changes, first try
  .circleci/config.yml
  package.json
Due: prettier --write

fix(server): fixes around selection
  packages/server/src/traits/parentArray.ts
  packages/server/src/traits/selectableChildren.ts
  packages/server/test/commands/changeParent.test.ts
  packages/server/test/traits/parentArray.test.ts
  packages/server/test/traits/selectableChildren.test.ts
Due: prettier --write, eslint --fix

ci: fail sooner on lint fail
  .circleci/config.yml
Due: none

ci: try silent 50% tests
  .circleci/config.yml
  package.json
Due: prettier --write

ci: fix development workflow
  .circleci/config.yml
Due: none

chore(release): publish v0.12.5
  CHANGELOG.md
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
Due: prettier --write

ci(release): release step done locally
  .circleci/config.yml
  .env.example
  .gitignore
  docs/devNotes.md
  lerna.json
  package-lock.json
  package.json
Due: prettier --write

refactor(utils): removing code smells
  package.json
  packages/utils/src/functions.ts
  packages/utils/src/numbers.ts
  packages/utils/src/strings.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.6
  CHANGELOG.md
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

build(release): auto synch development branch
  package.json
Due: prettier --write

refactor(server): removing more code smells
  packages/server/src/conditions/grouping.ts
  packages/server/src/conditions/subjects.ts
  packages/server/src/conditions/utils.ts
  packages/server/src/entities/classicCard.ts
  packages/server/src/entities/line.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.7
  CHANGELOG.md
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
Due: prettier --write

build(release): fixup post release script
  lerna.json
  package.json
Due: prettier --write

chore(server): remove some logs
  packages/server/src/annotations/type.ts
Due: prettier --write, eslint --fix

chore(husky): make husky hooks executable
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(server): had some issue with importing populatePlayerEvent for some reason
  packages/server/src/bots/pickNeuron.ts
  packages/server/src/bots/runner.ts
  packages/server/src/index.ts
  packages/server/src/messages/entityInteraction.ts
  packages/server/src/messages/fallback.ts
  packages/server/src/room.ts
  packages/server/src/utils/index.ts
  packages/server/test/commandsManager.test.ts
Due: prettier --write, eslint --fix

chore: upgrades
  package-lock.json
  package.json
Due: prettier --write

ci(circleci): investigate build issues
  .circleci/config.yml
  package.json
Due: prettier --write

ci: bootstrap with ci
  .circleci/config.yml
Due: none

ci: revert ls logs
  .circleci/config.yml
Due: none

chore: change master to main
  .circleci/config.yml
  lerna.json
  package.json
  readme.md
Due: prettier --write

chore(release): publish v0.12.8
  CHANGELOG.md
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
Due: prettier --write

fix(utils): errors more visible in some terminals
  package.json
  packages/utils/src/logs.ts
Due: prettier --write, eslint --fix

feat: consolidate parent back into one trait
  .circleci/config.yml
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/rollup.config.js
  packages/server/jest.config.js
  packages/server/src/conditions/assertions.ts
  packages/server/src/entities/container.ts
  packages/server/src/entities/deck.ts
  packages/server/src/entities/grid.ts
  packages/server/src/entities/hand.ts
  packages/server/src/entities/line.ts
  packages/server/src/entities/pile.ts
  packages/server/src/entities/spread.ts
  packages/server/src/index.ts
  packages/server/src/state/index.ts
  packages/server/src/traits/child.ts
  packages/server/src/traits/entity.ts
  packages/server/src/traits/helpers/parentCommons.ts
  packages/server/src/traits/parent.ts
  packages/server/src/traits/parent/errors.ts
  packages/server/src/traits/parentArray.ts
  packages/server/src/traits/parentMap.ts
  packages/server/test/commands/changeIdx.test.ts
  packages/server/test/commands/changeParent.test.ts
  packages/server/test/helpers/dumbEntities.ts
  packages/server/test/helpers/labeledEntities.ts
  packages/server/test/helpers/ownableEntities.ts
  packages/server/test/helpers/selectableParent.ts
  packages/server/test/helpers/smartEntities.ts
  packages/server/test/traits/__snapshots__/child.test.ts.snap
  packages/server/test/traits/__snapshots__/parentMap.test.ts.snap
  packages/server/test/traits/child.test.ts
  packages/server/test/traits/ownership.test.ts
  packages/server/test/traits/parent.test.ts
  packages/server/test/traits/parentArray.test.ts
  packages/server/test/traits/parentMap.test.ts
  packages/server/test/tsconfig.json
  packages/types/index.d.ts
Due: prettier --write, eslint --fix

fix(server): wrap broadcast and test it
  .vscode/launch.json
  packages/server/src/commands/broadcast.ts
  packages/server/src/room.ts
  packages/server/test/room.test.ts
Due: prettier --write, eslint --fix

fix(examples): fixup svelte and things
  .vscode/settings.json
  examples/client-svelte/package-lock.json
  examples/client-svelte/src/components/GameView.svelte
  examples/client-svelte/src/components/PlayersContainer.svelte
  examples/client-svelte/src/entities/Card.svelte
  examples/client-svelte/src/entities/Pile.svelte
  examples/client-svelte/src/gameHandler.ts
  examples/client-svelte/src/index.html
  examples/client-svelte/src/stores.ts
  examples/client-svelte/src/tsconfig.json
  examples/client-svelte/src/types.d.ts
  examples/client-vanilla/package-lock.json
  examples/server-js/game/room.js
  examples/server-js/package-lock.json
  packages/client/rollup.config.js
Due: prettier --write, eslint --fix

chore: ci fixes?
  .editorconfig
  .prettierrc
  examples/client-svelte/package-lock.json
  examples/client-vanilla/package-lock.json
  examples/server-js/package-lock.json
  packages/client/package-lock.json
  packages/server/package-lock.json
Due: prettier --write

ci: second try at auto releases
  .circleci/config.yml
  package.json
Due: prettier --write

test(server): broadcast command test
  .husky/pre-push
  packages/server/test/commands/broadcast.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,scss,md}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
