Repository Zielak/cardsGame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,html,scss,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix"
}

ci(test): testing cancellation
  .circleci/config.yml
Due: none

ci: rename condition
  .circleci/config.yml
Due: none

ci: git config not needed
  .circleci/config.yml
Due: none

ci: git cofig is actually needed
  .circleci/config.yml
Due: none

chore(release): publish v0.12.9
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/types/CHANGELOG.md
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

fix(client): broken clientGameState type
  .circleci/config.yml
  .env.example
  docs/devNotes.md
  lerna.json
  package.json
  packages/client/src/schema.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.14
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
Due: prettier --write

fix: ci again, with meaningless change
  .circleci/config.yml
  lerna.json
  package.json
  packages/client/src/schema.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.15 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
Due: prettier --write

fix: revert last change
  packages/client/src/schema.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.16 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
Due: prettier --write

fix: all published versions
  .circleci/config.yml
  .editorconfig
  .prettierignore
  config/jest.config.js
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/package-lock.json
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/server/package-lock.json
  packages/server/package.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/utils.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.17 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/types/CHANGELOG.md
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

fix: better ObjectSchema types
  packages/client/src/schema.ts
  packages/client/test/schema.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.18 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
Due: prettier --write

feat: easier children
  .circleci/config.yml
  examples/client-svelte/package.json
  examples/client-vanilla/main.mjs
  examples/client-vanilla/package.json
  examples/server-js/package.json
  package-lock.json
  package.json
  packages/client/package.json
  packages/client/rollup.config.js
  packages/client/src/index.ts
  packages/client/src/room.ts
  packages/client/src/schema/children.ts
  packages/client/src/schema/schema.ts
  packages/client/src/schema/types.ts
  packages/client/test/schema.test.ts
  packages/types/index.d.ts
  scripts/linkup.sh
Due: prettier --write, eslint --fix

chore(release): publish v0.13.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/types/CHANGELOG.md
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

fix(server): getSelectionIndex on unselected item
  packages/server/src/traits/selectableChildren.ts
  packages/server/test/traits/selectableChildren.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.13.1 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
Due: prettier --write

chore(release): publish v0.14.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package-lock.json
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

docs: update CI badge
  readme.md
Due: prettier --write

refactor: removing code smells
  .eslintrc.js
  packages/client/src/game.ts
  packages/server/src/annotations/annotations.ts
  packages/server/src/annotations/canBeChild.ts
  packages/server/src/annotations/containsChildren.ts
  packages/server/src/annotations/type.ts
  packages/server/src/bots/pickNeuron.ts
  packages/server/src/bots/runner.ts
  packages/server/src/commands/changeIdx.ts
  packages/server/src/commands/dealCards.ts
  packages/server/src/commands/placeOnGrid.ts
  packages/server/src/commands/playerTurns.ts
  packages/server/src/commands/selectChild.ts
  packages/server/src/commands/sequence.ts
  packages/server/src/commands/wait.ts
  packages/server/src/entities/classicCard.ts
  packages/server/src/interaction.ts
  packages/server/src/messages/bots.ts
  packages/server/src/messages/start.ts
  packages/server/src/players/player.ts
  packages/server/src/traits/flexyContainer.ts
  packages/server/src/traits/ownership.ts
  packages/server/src/traits/parent.ts
  packages/server/src/traits/selectableChildren.ts
  packages/serverTesting/src/executeEvent.ts
  packages/serverTesting/src/makeEvent.ts
  packages/serverTesting/src/makeInteraction.ts
  packages/serverTesting/src/populateState.ts
  packages/serverTesting/src/types.ts
  packages/utils/src/arrays.ts
  packages/utils/src/strings.ts
  packages/utils/test/strings.test.ts
Due: prettier --write, eslint --fix

ci: bring back stats for development branch
  .circleci/config.yml
Due: none

chore(release): publish v0.14.1 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package-lock.json
  packages/serverTesting/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

ci: terraform for docs
  .github/workflows/terraform.yml
  devDocs/readme.md
  package-lock.json
  packages/server/src/index.ts
  packages/server/test/queryRunner.test.ts
  terraform/.gitignore
  terraform/cloudFlare.tf
  terraform/config/dev/config.tfbackend
  terraform/config/dev/vars.tfvars
  terraform/config/prod/config.tfbackend
  terraform/config/prod/vars.tfvars
  terraform/locals.tf
  terraform/main.tf
  terraform/providers.tf
  terraform/s3.tf
  terraform/variables.tf
Due: prettier --write, eslint --fix

feat: add server-ts example, finalize docs
  .eslintignore
  docs/docs/api/serverTesting/_category_.yml
  docs/docs/getting-started/example/_category_.json
  docs/docs/getting-started/example/server.md
  docs/docs/getting-started/index.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/typedoc/types.typedoc.js
  examples/certs/index.d.ts
  examples/certs/package.json
  examples/server-ts/.nvmrc
  examples/server-ts/README.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/server-ts/src/app.ts
  examples/server-ts/src/exitHandler.ts
  examples/server-ts/src/game/actions.ts
  examples/server-ts/src/game/bot.ts
  examples/server-ts/src/game/commands.ts
  examples/server-ts/src/game/room.ts
  examples/server-ts/src/game/state.ts
  examples/server-ts/src/game/utils.ts
  examples/server-ts/src/tsconfig.json
  lerna.json
  package-lock.json
Due: prettier --write, eslint --fix

chore(release): publish v0.15.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package-lock.json
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

ci: fix prod docs deployment
  .github/workflows/docs-deploy.yml
Due: none

docs: fix discord link
  docs/docusaurus.config.js
Due: prettier --write, eslint --fix

chore(jest): easier displayNames
  packages/client/jest.config.js
  packages/server/jest.config.js
  packages/utils/jest.config.js
Due: prettier --write, eslint --fix

chore(root): missing entry in linkup + eslint for tests
  .eslintrc.js
  scripts/linkup.sh
Due: prettier --write, eslint --fix

feat(types): expose nicer message-related types
  packages/types/index.d.ts
  packages/types/package-lock.json
Due: prettier --write, eslint --fix

feat(client): better typed incoming messages
  packages/client/package-lock.json
  packages/client/src/room.ts
Due: prettier --write, eslint --fix

feat: adjust for recent conditions changes
  examples/server-js/game/actions.js
  examples/server-js/game/room.js
  examples/server-ts/package-lock.json
  examples/server-ts/src/game/actions.ts
  package-lock.json
  packages/entityTraits/package-lock.json
  packages/serverTesting/package-lock.json
  packages/serverTesting/src/testEvent.ts
  packages/serverTesting/test/testEvent.test.ts
  packages/utils/package-lock.json
Due: prettier --write, eslint --fix
