Repository Zielak/cardsGame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: ditched package locks in packages recently
  .circleci/config.yml
Due: none

chore(release): publish v0.16.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore(release): publish v0.16.1 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
Due: prettier --write

ci: fix docs path
  .circleci/config.yml
Due: none

ci: deploy docs also to dev
  .circleci/config.yml
  .husky/pre-commit
  config/.lintstagedrc
  config/.lintstagedrc.js
  docs/dev.robots.txt
Due: prettier --write, eslint --fix

feat: hooks for integration tests
  package-lock.json
  packages/server/src/messages/start.ts
  packages/server/src/room.ts
  packages/server/test/room.test.ts
Due: prettier --write, eslint --fix

fix(client): stronger messages typing
  examples/client-svelte/package.json
  examples/client-svelte/src/gameHandler.ts
  examples/client-svelte/src/tsconfig.json
  examples/client-svelte/src/types.d.ts
  examples/server-ts/package.json
  examples/server-ts/src/game/commands.ts
  examples/server-ts/src/tsconfig.json
  examples/types/index.d.ts
  examples/types/package.json
  packages/client/src/room.ts
Due: prettier --write, eslint --fix

ci: simplify workflow, fix docs depoyment
  .circleci/config.yml
Due: none

ci: split build step
  .circleci/config.yml
  package.json
Due: prettier --write

chore(release): publish v0.17.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore: integrationHooks default generic type
  packages/server/src/room.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.17.1 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

feat(integration): expose addClient function
  packages/server/src/integration.ts
  packages/server/src/room.ts
  packages/server/src/state/index.ts
  packages/server/test/room.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.18.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(integration): forgot to export
  packages/server/src/index.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.18.1 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: integration context functions not bound to room
  packages/server/src/integration.ts
  packages/server/src/room.ts
  packages/server/test/room.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.18.2 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

feat: integration hooks now hold data
  docs/docs/getting-started/integration-testing.md
  packages/server/src/integration.ts
  packages/server/src/room.ts
  packages/server/test/room.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.19.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: creating and selecting children in one go
  packages/server/src/entities/utils/sorting.ts
  packages/server/src/index.ts
  packages/serverTesting/src/state/parseChildren.ts
  packages/serverTesting/test/populateState.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.19.1 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: wasn't possible to override "hijacks" prop
  packages/server/src/entities/container.ts
  packages/server/src/entities/grid.ts
  packages/server/src/entities/hand.ts
  packages/server/src/entities/line.ts
  packages/server/src/entities/spread.ts
  packages/server/src/traits/parent.ts
  packages/server/test/entities/container.test.ts
  packages/server/test/entities/grid.test.ts
  packages/server/test/entities/hand.test.ts
  packages/server/test/entities/line.test.ts
  packages/server/test/entities/spread.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.19.2 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: leave child filtering for now
  packages/server/src/annotations/canBeChild.ts
  packages/server/src/annotations/containsChildren.ts
  packages/server/src/annotations/entitiesContext.ts
  packages/server/src/annotations/type.ts
  packages/server/src/entities/classicCard.ts
  packages/server/src/entities/container.ts
  packages/server/src/entities/deck.ts
  packages/server/src/entities/grid.ts
  packages/server/src/entities/hand.ts
  packages/server/src/entities/line.ts
  packages/server/src/entities/pile.ts
  packages/server/src/entities/spread.ts
  packages/server/src/state/index.ts
  packages/server/src/traits/parent.ts
  packages/server/test/helpers/dumbEntities.ts
  packages/server/test/helpers/labeledEntities.ts
  packages/server/test/helpers/ownableEntities.ts
  packages/server/test/helpers/selectableParent.ts
  packages/server/test/helpers/smartEntities.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.19.3 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

feat: more generics around messages
  packages/client/src/room.ts
  packages/server/src/commands/broadcast.ts
  packages/server/src/commands/gameOver.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.20.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: fixup the message types
  packages/client/src/room.ts
  packages/types/index.d.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.20.1 [skip ci]
  CHANGELOG.md
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: standardDeckFactory accepting sets
  packages/server/src/entities/classicCard.ts
  packages/server/src/entities/utils/cards.ts
  packages/server/src/index.ts
  packages/server/test/entities/classicCard.test.ts
  packages/server/test/entities/sorting.test.ts
  packages/server/test/entities/utils/__snapshots__/cards.test.ts.snap
  packages/server/test/entities/utils/cards.test.ts
  packages/server/test/entities/utils/sorting.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.20.2 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

fix: align line with actual use case
  packages/server/src/entities/line.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.20.3 [skip ci]
  CHANGELOG.md
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  lerna.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
Due: prettier --write

feat: new Selection container
  docs/package.json
  examples/client-svelte/package.json
  examples/server-ts/package.json
  examples/types/index.d.ts
  package-lock.json
  package.json
  packages/server/src/conditions/index.ts
  packages/server/src/entities/classicCard.ts
  packages/server/src/entities/container.ts
  packages/server/src/entities/deck.ts
  packages/server/src/entities/hand.ts
  packages/server/src/entities/line.ts
  packages/server/src/entities/pile.ts
  packages/server/src/entities/selection.ts
  packages/server/src/entities/spread.ts
  packages/server/src/traits/child.ts
  packages/server/src/traits/ownership.ts
  packages/server/src/traits/parent.ts
  packages/server/test/entities/selection.test.ts
Due: prettier --write, eslint --fix

chore: update docusaurus
  docs/package-lock.json
  docs/package.json
  packages/client/README.md
Due: prettier --write

chore(release): publish v0.21.0 [skip ci]
  CHANGELOG.md
  examples/certs/CHANGELOG.md
  examples/certs/package-lock.json
  examples/certs/package.json
  examples/client-svelte/CHANGELOG.md
  examples/client-svelte/package-lock.json
  examples/client-svelte/package.json
  examples/client-vanilla/CHANGELOG.md
  examples/client-vanilla/package-lock.json
  examples/client-vanilla/package.json
  examples/server-js/CHANGELOG.md
  examples/server-js/package-lock.json
  examples/server-js/package.json
  examples/server-ts/CHANGELOG.md
  examples/server-ts/package-lock.json
  examples/server-ts/package.json
  examples/types/CHANGELOG.md
  examples/types/package.json
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/entityTraits/CHANGELOG.md
  packages/entityTraits/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/serverTesting/CHANGELOG.md
  packages/serverTesting/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: expose selection container
  packages/server/src/entities/index.ts
Due: prettier --write, eslint --fix

ci: bump node version
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,scss,md}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
