Repository Zielak/cardsGame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: separete type defs of Traits
  package.json
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/entityTraits/readme.md
  packages/entityTraits/src/boxModel.ts
  packages/entityTraits/src/child.ts
  packages/entityTraits/src/flexyContainer.ts
  packages/entityTraits/src/index.ts
  packages/entityTraits/src/label.ts
  packages/entityTraits/src/location.ts
  packages/entityTraits/src/ownership.ts
  packages/entityTraits/src/tsconfig.json
  packages/entityTraits/src/twoSided.ts
  packages/server/package-lock.json
  packages/server/src/players/player.ts
  packages/server/src/traits/boxModel.ts
  packages/server/src/traits/child.ts
  packages/server/src/traits/entity.ts
  packages/server/src/traits/flexyContainer.ts
  packages/server/src/traits/identity.ts
  packages/server/src/traits/label.ts
  packages/server/src/traits/location.ts
  packages/server/src/traits/ownership.ts
  packages/server/src/traits/parent.ts
  packages/server/src/traits/parentArray.ts
  packages/server/src/traits/parentMap.ts
  packages/server/src/traits/selectableChildren.ts
  packages/server/src/traits/twoSided.ts
  packages/utils/test/strings.test.ts
  readme.md
  scripts/linkup.sh
Due: prettier --write, eslint --fix

fix(client): some upgrades + better client types
  package-lock.json
  package.json
  packages/client/src/room.ts
  packages/client/src/schema.ts
  packages/server/src/players/player.ts
  packages/types/index.d.ts
Due: prettier --write, eslint --fix

packagelock thing
  packages/client/package-lock.json
  packages/server/package-lock.json
Due: prettier --write

feat(utils): new "resolve" function
  packages/utils/src/objects.ts
  packages/utils/test/objects.test.ts
Due: prettier --write, eslint --fix

chore(utils): add comments to string functions
  packages/utils/src/strings.ts
Due: prettier --write, eslint --fix

chore: fooling circleCI to just run it
  packages/utils/src/strings.ts
Due: prettier --write, eslint --fix

build: add entityTraits
  .circleci/config.yml
Due: none

chore(release): publish v0.11.0
  lerna.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/server/package-lock.json
  packages/server/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

feat(array): added lastItem()
  packages/client/jest.config.js
  packages/server/jest.config.js
  packages/utils/jest.config.js
  packages/utils/src/arrays.ts
  packages/utils/test/array.test.ts
Due: prettier --write, eslint --fix

chore: upgrades everywhere!
  .eslintrc.js
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  .lintstagedrc
  config/.commitlintrc.json
  config/.lintstagedrc
  config/jest.config.js
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/entityTraits/package-lock.json
  packages/server/package-lock.json
  packages/server/src/commands/wait.ts
  packages/server/src/tsconfig.json
  packages/server/test/tsconfig.json
  packages/types/package-lock.json
  packages/utils/package-lock.json
  scripts/linkup.sh
  tsconfig.json
  tsconfig.test.json
Due: prettier --write, eslint --fix

chore: fix tests halting CI progress
  packages/server/test/room.test.ts
Due: prettier --write, eslint --fix

build: upgrade CI to node 16
  .circleci/config.yml
Due: none

feat: more helpful schema definition functions
  .nvmrc
  example/.nvmrc
  packages/client/.nvmrc
  packages/client/src/schema.ts
  packages/entityTraits/.nvmrc
  packages/server/.nvmrc
  packages/types/.nvmrc
  packages/utils/.nvmrc
Due: prettier --write, eslint --fix

feat: conditions can change subject to parent
  packages/server/src/conditions/subjects.ts
  packages/server/src/conditions/utils.ts
  packages/server/test/conditions/subjects.test.ts
Due: prettier --write, eslint --fix

fix: npm7 link changed behaviour
  scripts/linkup.sh
Due: none

feat: add changeIdx command
  packages/server/src/commands/changeIdx.ts
  packages/server/src/commands/index.ts
  packages/server/test/commands/changeIdx.test.ts
Due: prettier --write, eslint --fix

feat: schemas closer to reality + other stuff
  packages/client/src/schema.ts
  packages/server/src/room.ts
  packages/utils/src/objects.ts
  packages/utils/test/objects.test.ts
Due: prettier --write, eslint --fix

chore: fixup some types + logger changes
  packages/client/src/schema.ts
  packages/server/src/annotations/type.ts
  packages/server/src/state/state.ts
  packages/utils/src/functions.ts
  packages/utils/src/index.ts
  packages/utils/src/logger/utils.ts
  packages/utils/src/logs.ts
  packages/utils/src/utils.ts
  packages/utils/test/functions.test.ts
  packages/utils/test/utils.test.ts
Due: prettier --write, eslint --fix

chore: audit fix
  package-lock.json
Due: prettier --write

chore(release): publish v0.12.0
  lerna.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/server/package-lock.json
  packages/server/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

fix: incorrect players Array handling
  packages/server/jest.config.js
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/room.ts
  packages/server/src/state/helpers.ts
  packages/server/src/state/state.ts
  packages/server/src/tsconfig.json
  packages/server/src/utils.ts
  packages/server/testSetup.ts
Due: prettier --write, eslint --fix

fix: logs not getting disabled
  packages/utils/src/logs.ts
Due: prettier --write, eslint --fix

fix(utils): numbers.wrap, handle accidental zero
  packages/client/package-lock.json
  packages/entityTraits/package-lock.json
  packages/types/package-lock.json
  packages/utils/package-lock.json
  packages/utils/src/numbers.ts
  packages/utils/test/numbers.test.ts
Due: prettier --write, eslint --fix

feat(server): ui, finished and tested
  packages/server/src/commands/nextRound.ts
  packages/server/src/commands/ui.ts
  packages/server/src/conditions/assertions.ts
  packages/server/src/state/state.ts
  packages/server/test/commands/ui.test.ts
  packages/server/test/conditions/assertions.test.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.1
  lerna.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/entityTraits/package-lock.json
  packages/entityTraits/package.json
  packages/server/package-lock.json
  packages/server/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: prettier --write

docs: changed CI badge to development branch
  readme.md
Due: prettier --write

chore(release): publish v0.12.2
  lerna.json
  packages/server/package-lock.json
  packages/server/package.json
Due: prettier --write

fix(commands): make new UI commands available
  packages/server/src/commands/index.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.3
  lerna.json
  packages/server/package-lock.json
  packages/server/package.json
Due: prettier --write

fix: fix last mistakes
  packages/client/src/lobbyRoom.ts
  packages/client/src/schema.ts
  packages/server/src/room.ts
  packages/server/src/utils/index.ts
Due: prettier --write, eslint --fix

chore(release): publish v0.12.4
  lerna.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/server/package-lock.json
  packages/server/package.json
Due: prettier --write

fix(server): fixes around selection
  packages/server/src/traits/parentArray.ts
  packages/server/src/traits/selectableChildren.ts
  packages/server/test/commands/changeParent.test.ts
  packages/server/test/traits/parentArray.test.ts
  packages/server/test/traits/selectableChildren.test.ts
Due: prettier --write, eslint --fix

ci: auto publish changes, first try
  .circleci/config.yml
  package.json
Due: prettier --write

ci: try silent 50% tests
  .circleci/config.yml
  package.json
Due: prettier --write

ci: fix development workflow
  .circleci/config.yml
Due: none

ci: fail sooner on lint fail
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,html,scss,md}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
